


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #e40303;
  --foreground: #000000;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #f6f6f6;
  }
}

.txt{
  font-family: fantasy;
}

@keyframes paddel-1 {
 0% {
  transform: translateY(-20%);
  top: 100%;
 }
 40% {
  top: 30%;
 }
 60%{
  top: 50%
 }
 80%{
  top: 100%
 }
 100% {
  top: 80%;
 }
}


@keyframes paddle-2 {
 0% {
   transform: translateY(-100%);
   top: 120%;
}
35% {
  top: 85%;
}
50% {

  top: 60%;
}
75% {
  top: 100%;
}
100% {
  top: 30%;
 }
}


.animate-p1 {
  animation: 2s linear 1s infinite alternate paddel-1;
}
.animate-p2 {
  animation: 2s linear 1s infinite alternate paddle-2;
}
